{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   CodePen - Flat music player
  </title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
  <link href="{% static './style.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <!-- partial:index.partial.html -->
  <html>
   <head>
    <meta charset="utf-8"/>
    <title>
     Flat music player
    </title>
   </head>
   <body>
    <div class="contain">
     <div class="container">
       <div class="sidebar">
          <div class="sidebar-logo"></div>
          <h3 class="sidebar-element -active"><i class="fa fa-home"></i>  Homepage</h3>
          <h3 class="sidebar-element"><i class="fa fa-search"></i>  Search</h3>
          <h3 class="sidebar-element"><i class="fa fa-book"></i>  My Library</h3>
          <h3 class="sidebar-element"><i class="fa fa-music"></i>  Playlist</h3>
        </div>
         <div class="right-side-bar">
            <div class="side-bar-title">
              Friends List
            </div>
            <div class="friends-list">
              <div class="friends-row">
                <div class="friends-image"></div>
                <div class="friend-name">Epilogun
                  <div class="now-listening">Kayahan - Bir Aşk Hikayesi</div>
                </div>  
              </div>
              <div class="friends-row">
                <div class="friends-image"></div>
                <div class="friend-name">Orhtgz
                  <div class="now-listening">Cola - CamelPhat, Elderbrook</div>
                </div> 
              </div>
              <div class="friends-row">
                <div class="friends-image"></div>
                <div class="friend-name">DB10
                  <div class="now-listening">Ckay - Love nwantiti</div>
                </div>
              </div>
          </div>
         </div>
      <div class="music-player">
        {% for item in page_obj %}
       <div class="cover">
        <img alt="" src="{{item.image.url}}"/>
       </div>
       <div class="titre">
        <h3>
         {{item.artist}}
        </h3>
        <h1>
         {{item.title}}
        </h1>
       </div>
       <center><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i class="fa fa-step-backward fa-2x"></i></a> &nbsp; &nbsp; &nbsp; <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}"><i class="fa fa-step-forward fa-2x"></i></a></center>
       <div class="lecteur">
        <audio class="fc-media" style="width: 100%;">
         <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" type="audio/mp3"/>
        </audio>

       </div>
       {% endfor %}
      </div>
     </div>
    </div>
   </body>
  </html>
  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
  </script>
  <script src="{% static './script.js' %}">
  </script>
 </body>
</html>
